body {
    font-family: barkentina;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    box-sizing: border-box;
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 70px;
    border-bottom: 1px solid #ddd;
}


.logo {
    width: 50;
}

.navigation{
    display: flex;
}

.navigation a {
    text-decoration: none;
    color: #201f1f;
    font: sans-serif; 
    /* min-width: 90px; */
    padding: 16px;
}

.navigation a:hover {
    background-color: #201f1f;
    color: white;
}

/* Кнопка выпадающего списка */
.dropbtn {
  font-family: barkentina;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: #f4f4f4;
    cursor: pointer;
}
  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f4f4f4;
    z-index: 1;
}
  
  /* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
    background-color: #201f1f;
}
  
  /* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}
  
  /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {
    background-color: #201f1f;
    color: #f4f4f4;
}

/* Контейнер для поля поиска */
.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    width: 300px;
    background-color: #fff;
  }
  
  /* Поле ввода */
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
  }
  
  /* Кнопка поиска */
  .search-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* Стили при наведении */
  .search-container:hover {
    border-color: #888;
  }
  
  .search-button:hover {
    color: #555;
  }

  .sort-container {
    margin: 20px 10px 10px;
    font-family: barkentina;
    
}
.sort-container label {
    margin-right: 5px;
    
}

.sort-container select {
  padding: 5px;
  border: none;
    background-color: #f4f4f4;
    cursor: pointer;
    font-family: barkentina;
}

h1{
  margin: 30px 0px 0px;
  text-align: center
}

.product-grid {
  margin: 0 200px;
  display: grid; /* Используем grid для большей гибкости */
  grid-template-columns: repeat(4, 1fr); /* 4 колонки на экранах шире 1024px */
  gap: 20px; /* Промежутки между продуктами */
  padding: 10px;
  background-color: #fff;
}

.product {
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.3s ease;
  width: 100%; /* Растягиваем продукт на всю ширину колонки */
}

.product img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.product h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
}

.product p {
  font-size: 1em;
  color: #666;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Медиазапросы для адаптивности */
@media (max-width: 1024px) {
  .product-grid {
      grid-template-columns: repeat(3, 1fr); /* 3 колонки для экрана среднего размера */
  }
}

@media (max-width: 768px) {
  .product-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 колонки для мобильных устройств */
  }
}

@media (max-width: 480px) {
  .product-grid {
      grid-template-columns: 1fr; /* 1 колонка для маленьких экранов */
  }
}
